<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.code.data.dao.NewsInfoMapper" >
  <resultMap id="BaseResultMap" type="com.code.data.beans.NewsInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="modulesType" property="modulestype" jdbcType="TINYINT" />
    <result column="images" property="images" jdbcType="VARCHAR" />
    <result column="pubTime" property="pubtime" jdbcType="TIMESTAMP" />
    <result column="spiderWeb" property="spiderweb" jdbcType="VARCHAR" />
    <result column="articleSource" property="articlesource" jdbcType="VARCHAR" />
    <result column="referUrl" property="referurl" jdbcType="VARCHAR" />
    <result column="createDate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="lastUpdateDate" property="lastupdatedate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, description, author, modulesType, images, pubTime, spiderWeb, articleSource, 
    referUrl, createDate, lastUpdateDate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_news_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_news_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <update id="updateByPrimaryKeySelective" parameterType="com.code.data.beans.NewsInfo" >
    update tb_news_info
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="modulestype != null" >
        modulesType = #{modulestype,jdbcType=TINYINT},
      </if>
      <if test="images != null" >
        images = #{images,jdbcType=VARCHAR},
      </if>
      <if test="pubtime != null" >
        pubTime = #{pubtime,jdbcType=TIMESTAMP},
      </if>
      <if test="spiderweb != null" >
        spiderWeb = #{spiderweb,jdbcType=VARCHAR},
      </if>
      <if test="articlesource != null" >
        articleSource = #{articlesource,jdbcType=VARCHAR},
      </if>
      <if test="referurl != null" >
        referUrl = #{referurl,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastupdatedate != null" >
        lastUpdateDate = #{lastupdatedate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.code.data.beans.NewsInfo" >
    update tb_news_info
    set title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      modulesType = #{modulestype,jdbcType=TINYINT},
      images = #{images,jdbcType=VARCHAR},
      pubTime = #{pubtime,jdbcType=TIMESTAMP},
      spiderWeb = #{spiderweb,jdbcType=VARCHAR},
      articleSource = #{articlesource,jdbcType=VARCHAR},
      referUrl = #{referurl,jdbcType=VARCHAR},
      createDate = #{createdate,jdbcType=TIMESTAMP},
      lastUpdateDate = #{lastupdatedate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>