<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="//cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#myCarousel').carousel({
                pause: true,
                interval: false
            });
        })
    </script>
    <style type="text/css">
        ul li {
            list-style-type: none;
        }

        a {
            color: black;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="javascript:void(0);">管理员界面</a>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <a class="btn btn-default" href="#" role="button">插件爬取结果列表</a>&nbsp;&nbsp;
            <!--<a class="btn btn-default" href="#" role="button">ip提取接口</a>-->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>插件名</th>
                    <th>爬取网站</th>
                    <th>爬取模块</th>
                    <th>时间</th>
                    <th>状态</th>
                    <th>描述信息</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="process,processStat:${processPageBean.infoList}"
                    th:classappend="${#strings.isEmpty(process.get('remark'))?'':'danger'}">
                    <td th:text="${processStat.index+1}"></td>
                    <td th:text="${process.get('pluginName')}"></td>
                    <td th:text="${process.get('spiderWebsite')}"></td>
                    <td th:text="${T(com.code.common.enums.Modules).parseStr(process.get('modulesType')).getMsg()}"></td>
                    <td th:text="${#strings.replace(process.get('spiderDate'), 'T', ' ')}"></td>
                    <td th:text="${T(com.code.common.enums.ProcessStatus).parseStr(process.get('stage')).getMsg()}"></td>
                    <td th:text="${process.get('remark')}"></td>
                </tr>
                </tbody>
            </table>
            <span>&nbsp;&nbsp;</span>
            <div class="row pull-right">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li th:if="${processPageBean.currentPage}!=1">
                            <a th:href="@{/index/admin(page=${processPageBean.currentPage}-1, limit=10)}"
                               aria-label="Previous">
                                <span aria-hidden="true">&lt</span>
                            </a>
                        </li>
                        <li th:each="index:${#numbers.sequence(1,processPageBean.totalPage)}">
                            <a th:href="@{/index/admin(page=${index}, limit=10)}" th:text="${index}"></a>
                        </li>
                        <li th:if="${processPageBean.currentPage}!=${processPageBean.totalPage}">
                            <a th:href="@{/index/admin(page=${processPageBean.currentPage}+1, limit=10)}"
                               aria-label="Next">
                                <span aria-hidden="true">&gt</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div th:replace="foot :: footer"></div>
</body>
</html>