<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="//cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#myCarousel').carousel({
                pause: true,
                interval: false
            });
        })
    </script>
    <style type="text/css">
        ul li {
            list-style-type: none;
        }

        a {
            color: black;
        }
        span.label{
            margin: 0 5px;
        }
    </style>
</head>
<body>
<div th:replace="head :: header"></div>
<div class="container">
    <div class="row">
        <div class="jumbotron col-sm-9">
            <h3 class="text-center" th:text="${news.title}"></h3>
            <div class="col-sm-12 pull-left">
                发布时间:<span th:text="${#strings.replace(news.pubTime, 'T', ' ')}">2019-06-01 07:57:15</span>&nbsp;&nbsp;
                文章来源：<span th:text="${news.articleSource}">新京报</span>&nbsp;&nbsp;
                作者:<span th:text="${news.author}">夏添</span>
            </div>
            <hr>
            <div th:utext="${news.content}">
                <p>　　清华大学校内发现古墓 已发掘部分墓葬</p>
                <p>　　日前，清华大学在建设新土木馆大楼工程项目时发现古墓群。记者从清华大学处了解到，此次共发现95座墓葬。</p>
                <p>
                    　　据了解，学校拟在第六教室楼北侧建设新土木馆大楼。根据《中华人民共和国文物保护法》《北京市实施办法》及《北京市地下文物保护管理办法》等有关法律法规，新建项目需进行考古勘探工作。应清华大学申请，2019年4月2日至14日，北京市文物局组织市文物研究所对清华大学新土木馆项目占地范围内开展了考古勘探工作，发现古代墓葬95座。</p>
                <p>　　5月27日起，市文物研究所开始对前期勘探发现的古代墓葬进行考古发掘工作，目前已发掘完成墓葬16座，初步判断为明清时期平民墓葬。目前，考古发掘工作正在进行中。</p>
                <p>　　新京报记者 王俊</p>
            </div>
            <div>
                <h4>关键字：
                    <span class="label label-default" th:each="key:${news.keys}" th:text="${key}">&nbsp;&nbsp;</span>
                    <!--<span class="label label-default">清华大学</span>-->
                    <!--<span class="label label-default">中华人民共和国文物保护法</span>-->
                    <!--<span class="label label-default">考古发掘</span>-->
                    <!--<span class="label label-default">市文物</span>-->
                </h4>
            </div>
        </div>
        <!--<div class="col-sm-3">-->
        <!--<ul class="list-group">-->
        <!--<li class="list-group-item disabled">-->
        <!--关联阅读-->
        <!--</li>-->
        <!--<li class="list-group-item">河南周口发现夏商遗址</li>-->
        <!--<li class="list-group-item">世界考古大会在北京召开</li>-->
        <!--<li class="list-group-item">考古爱好者前往甘肃探索</li>-->
        <!--<li class="list-group-item">国家文物局领导调研指导雄安新区考古工作</li>-->
        <!--<li class="list-group-item">河南南阳：考古发现史前大型玉器作坊</li>-->
        <!--</ul>-->
        <!--</div>-->
    </div>
</div>
<div th:replace="foot :: footer"></div>
</body>
</html>