<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="//cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">

</script>
<head>
</head>
<body>
<div class="navbar navbar-inverse navbar-static-top" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/index/modules(modules='推荐')}">推荐</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a th:href="@{/index/modules(modules='教育')}">教育</a>
                </li>
                <li>
                    <a th:href="@{/index/modules(modules='旅游')}">旅游</a>
                </li>
                <li>
                    <a th:href="@{/index/modules(modules='科技')}">科技</a>
                </li>
                <li>
                    <a href="javascript:void(0)">国际</a>
                </li>
                <li>
                    <a href="javascript:void(0)">食品</a>
                </li>
            </ul>
            <!--<div class="form-group pull-right">-->
            <!--<input type="text" class="form-control input-sm"><span-->
            <!--class="input-group-addon btn btn-primary">搜索</span>-->
            <!--</div>-->
            <div class="col-sm-3 pull-right">
                <form class="navbar-from search" th:action="@{/index/search}" name="search">
                    <div class="input-group">
                        <input type="text" class="form-control input-lg" placeholder="热点查询" name="keyword">
                        <span class="input-group-addon btn btn-primary" id="search">搜索</span>
                    </div>
                </form>
            </div>
            <!--<ul class="nav navbar-nav navbar-right">-->
            <!--<li>-->
            <!--<a href="/signin">-->
            <!--<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign in-->
            <!--</a>-->
            <!--</li>-->
            <!--<li th:if="${#authorization.expression('isAuthenticated()')}">-->
            <!--<a href="/logout" th:href="@{#}" onclick="$('#form').submit();">-->
            <!--<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout-->
            <!--</a>-->
            <!--<form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>-->
            <!--</li>-->
            <!--</ul>-->
        </div>
    </div>
</div>
<h1></h1>
</body>
</html>