<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="//cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#myCarousel').carousel({
                pause: true,
                interval: false
            });
        })
    </script>
    <style type="text/css">
        ul li {
            list-style-type: none;
        }

        a {
            color: black;
        }
    </style>
</head>
<body>
<div th:replace="head :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <ul>
                <li class="moreImg clearfix" style="list-sytle:none;">
                    <h5>
                        <a href="">职场干活的不如做PPT的？六成受访者反对重形式轻实质</a>
                    </h5>
                    <div class="col-sm-3">
                        <a href="http://education.news.cn/2019-05/30/c_1210147250.htm" targrt="_blank">
                            <img class="lazyload"
                                 src="http://education.news.cn/titlepic/121014/1210147250_1559176774041_title0h.jpg"
                                 style="display: block;width:100px;height: 100px"></a>
                    </div>
                    <div class="col-sm-9">
                        <p>
                            工作中，不少职场人抱怨“累死累活不如PPT(演示文稿)做得好”。调查显示，63.7%的受访者认为汇报工作“重形式而轻实质”的做法，会使“桃李不言，下自成蹊”的文化美德淡化。</p>
                    </div>
                </li>
                <li class="moreImg clearfix" style="list-sytle:none;">
                    <h5>
                        <a href="">职场干活的不如做PPT的？六成受访者反对重形式轻实质</a>
                    </h5>
                    <div class="col-sm-3">
                        <a href="http://education.news.cn/2019-05/30/c_1210147250.htm" targrt="_blank">
                            <img class="lazyload"
                                 src="http://education.news.cn/titlepic/121014/1210147250_1559176774041_title0h.jpg"
                                 style="display: block;width:100px;height: 100px"></a>
                    </div>
                    <div class="col-sm-9">
                        <p>
                            工作中，不少职场人抱怨“累死累活不如PPT(演示文稿)做得好”。调查显示，63.7%的受访者认为汇报工作“重形式而轻实质”的做法，会使“桃李不言，下自成蹊”的文化美德淡化。</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--<div class="row">-->
        <!--<div id="dataMoreBtn" class="moreBtn col-sm-9">-->
            <!--<p style="text-align: center">显示更多</p>-->
        <!--</div>-->
    <!--</div>-->
</div>
<div th:replace="foot :: footer"></div>
</body>
</html>