<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="//cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#myCarousel').carousel({
                pause: true,
                interval: false
            });
        })
        $(function () {
            $('#search').click(function () {
                $("form[name='search']").submit();
            });
            $("div.moreBtn").click(function () {
                var page = $("input#currPage").val();
                var modules = $("input[name='modulesType']")[0].value;
                if (page != null && modules != null) {
                    // alert(page + ":" + modules);
                    $.post("/index/searchhistory", {"modules": modules, "page": (parseInt(page) + 1)}, function (data) {
                        data = eval('(' + data + ')')
                        for (var i = 0; i < data.length; i++) {
                            var liNode = $("<li class=\"moreImg clearfix\" style=\"list-sytle:none;\"></li>");
                            var h5Node = $(" <h5></h5>");
                            var aNode = $("<a href=\"/index/content?sign=" + data[i].sign + "\" style=\"color: black\" > " + data[i].title + "</a>");
                            liNode.append(h5Node);
                            h5Node.append(aNode);

                            var divNode = $("<div class=\"col-sm-3\"></div>");
                            var aNode2 = $("<a href='/index/content?sign=" + data[i].sign + "'></a>");
                            divNode.append(aNode2);
                            liNode.append(divNode);
                            var imgNode = null;
                            if (data[i].images != '') {
                                imgNode = $("<img class=\"lazyload\" src=\"" + data[i].images + "\", style=\"display: block;width:100px;height: 100px\">");
                            } else {
                                imgNode = $("<img class=\"lazyload\" src=\"https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1559402029267&di=ab1623b48ac8ebd7902979c51a77d934&imgtype=0&src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201801%2F08%2F20180108170346_TPWik.thumb.224_0.jpeg\", style=\"display: block;width:100px;height: 100px\">");
                            }
                            aNode2.append(imgNode);

                            var endDiv = $("<div class=\"col-sm-9\"></div>");
                            var jieshaoNode = $("<div style=\"position: relative;left: 0px;bottom: 0px\">发布时间：<span>" + data[i].pubTime.replace('T', ' ') + "</span>&nbsp;&nbsp;&nbsp;来源：<span>" + data[i].articleSource + "</span></div>");
                            var pNode = $(" <p>" + data[i].description + "</p>");
                            endDiv.append(pNode);
                            endDiv.append(jieshaoNode);
                            liNode.append(endDiv);
                            $("#historyUl").append(liNode);
                            $("input#currPage").val(parseInt(page) + 1);

                        }
                    });
                }
            })
        })
    </script>
    <style type="text/css">
        ul li {
            list-style-type: none;
        }

        a {
            color: black;
        }
    </style>
</head>
<body>
<div th:replace="head :: header"></div>
<div class="container">
    <div class="row">
        <div class="hotNews col-sm-7">
            <div class="row">
                <div class="pull-left col-sm-6">
                    <h4>热点新闻</h4>
                </div>
                <div class="pull-right">
                    <h5>更多&nbsp;.&nbsp;.&nbsp;.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5>
                </div>
            </div>
            <div id="myCarousel" class="carousel slide">
                <!-- 轮播（Carousel）指标 -->
                <ol class="carousel-indicators">
                    <li th:each="hotnews,hotnewsStat:${hotList}" data-target="#myCarousel"
                        data-slide-to="${hotnewsStat.index}"
                        th:classappend="${hotnewsStat.index}==0?'active':''"></li>
                </ol>
                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner">
                    <div class="item" th:each="hotnews,hotnewsStat:${hotList}"
                         th:classappend="${hotnewsStat.index}==0?'active':''">
                        <a th:href="${hotnews.referUrl}">
                            <img src="https://www.runoob.com/wp-content/uploads/2014/07/slide1.png"
                                 th:src="${hotnews.image}" alt="First slide" th:width="750" th:height="360">
                        </a>
                    </div>
                </div>
                <!-- 轮播（Carousel）导航 -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="topNews col-sm-5">
            <div th:unless="${#lists.isEmpty(newList)}">
                <div>
                    <h4>今日聚焦</h4>
                    <ol>
                        <li th:each="news:${newList}"><a th:href="@{/index/content(sign=${news.sign})}"
                                                         th:text="${news.title}"></a></li>
                    </ol>
                </div>
            </div>
            <div th:unless="${#lists.isEmpty(topList)}">
                <h4>浏览排行</h4>
                <ol>
                    <li th:each="news:${topList}"><a th:href="@{/index/content(sign=${news.sign})}"
                                                     th:text="${news.title}"></a></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row" th:high="30px"></div>
    <div class="row">
        <div class="col-sm-9" th:if="${historyList}!=null">
            <h4>更多新闻</h4>
            <ul id="historyUl">
                <li class="moreImg clearfix" style="list-sytle:none;" th:each="historyNew:${historyList}">
                    <h5>
                        <a th:href="@{/index/content(sign=${historyNew.sign})}" style="color: black"
                           th:text="${historyNew.title}">职场干活的不如做PPT的？六成受访者反对重形式轻实质</a>
                    </h5>
                    <div class="col-sm-3">
                        <a th:href="@{/index/content(sign=${historyNew.sign})}" targrt="_blank">
                            <img class="lazyload" th:src="${historyNew.images}"
                                 src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1559402029267&di=ab1623b48ac8ebd7902979c51a77d934&imgtype=0&src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201801%2F08%2F20180108170346_TPWik.thumb.224_0.jpeg"
                                 style="display: block;width:100px;height: 100px"
                                 th:if="${historyNew.images}!=null">
                            <img class="lazyload"
                                 th:src="@{https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1559402029267&di=ab1623b48ac8ebd7902979c51a77d934&imgtype=0&src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201801%2F08%2F20180108170346_TPWik.thumb.224_0.jpeg}"
                                 style="display: block;width:100px;height: 100px"
                                 th:if="${historyNew.images}==null"></a>
                    </div>
                    <div class="col-sm-9">
                        <p th:text="${historyNew.description}">
                            工作中，不少职场人抱怨“累死累活不如PPT(演示文稿)做得好”。调查显示，63.7%的受访者认为汇报工作“重形式而轻实质”的做法，会使“桃李不言，下自成蹊”的文化美德淡化。</p>
                        <div style="position: relative;left: 0px;bottom: 0px">
                            发布时间：<span th:utext="${#strings.replace(historyNew.pubTime, 'T', ' ')}"></span>&nbsp;&nbsp;&nbsp;
                            来源：<span th:text="${historyNew.articleSource}"></span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row" th:if="${historyList}!=null">
            <input type="hidden" th:value="${modules}" name="modulesType">
            <div id="dataMoreBtn" class="moreBtn col-sm-9">
                <p style="text-align: center">显示更多</p>
                <input type="hidden" value="1" id="currPage">
            </div>
        </div>
    </div>
</div>
<div th:replace="foot :: footer"></div>
</body>
</html>