<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="//cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#myCarousel').carousel({
                pause: true,
                interval: false
            });
        })
    </script>
    <style type="text/css">
        ul li {
            list-style-type: none;
        }

        a {
            color: black;
        }
    </style>
</head>
<body>
<div th:replace="head :: header"></div>
<div class="container">
    <div class="row">
        <ul>
            <li class="moreImg clearfix" style="list-sytle:none;" th:each="news:${searchList}">
                <h4>
                    <a th:href="${news.referUrl}" th:utext="${news.title}"></a>
                </h4>
                <div class="col-sm-2">
                    <a th:href="${news.referUrl}" targrt="_blank">
                        <img class="lazyload" th:src="${news.img}" style="display: block;width:150px;height: 100px"
                             th:if="${news.img}!=null">
                        <img class="lazyload"
                             th:src="@{https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1559402029267&di=ab1623b48ac8ebd7902979c51a77d934&imgtype=0&src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201801%2F08%2F20180108170346_TPWik.thumb.224_0.jpeg}"
                             style="display: block;width:150px;height: 100px"
                             th:if="${news.img}==null">
                    </a>
                </div>
                <div class="col-sm-8">
                    <p th:utext="${news.description}">............</p>
                    <div style="position: relative;left: 0px;bottom: 0px">
                        发布时间：<span th:utext="${#dates.format(news.pubTime, 'dd/MMM/yyyy HH:mm')}"></span>&nbsp;&nbsp;&nbsp;来源：<span
                            th:text="${#strings.isEmpty(news.getSpiderWeb())}"></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
</div>
<div th:replace=" foot :: footer">
</div>
</body>
</html>